<li>  
 
  
  <span class="content">
    <%= link_to note.sales_company, note_path(note.id) %> 経由
    <br><%= note.end_user %> 向け案件
  </span>
  <span>
    納期：<%= note.delivery_day %>
  </span>
    

</li>

