<div class = "nested-fields">

      機種
      <%= f.text_field :model, {placeholder: "半角で入力してください",  class: "form-control title-field" }  %>
      台数
      <%= f.telephone_field :quantity, { placeholder: "半角で入力してください", class: "form-control title-field hankaku" } %>
      価格
      <%= f.telephone_field :price, {placeholder: "半角で入力してください", class: "form-control title-field hankaku" } %>
     
      <%= link_to_remove_association "-", f, { class: "btn1 sakujo-btn" } %>
      <!--< %= link_to_remove_association '削除', f, class: 'btn btn-default' %>-->

</div>