
/* 投稿一覧 ================================ */
.notes {
  margin: 0;
  float: left;
  width: 50%;
}
.notes h2 {
  margin-top: 0;
}
.notes li {
  overflow: auto;
  padding: 14px 0;
  border-bottom: 1px solid #eaeaea;
}

/* 投稿 ================================ */
.notes .title, .notes .content {
  display: block;
}

.notes .title {
  padding-top: 8px;
}

.notes img {
  display: inline-block;
  margin-right: 6%;
  margin-bottom: 6%;
  float: left;
  width:56px;
  height:56px;
}

.show-note li {
  padding: 30px 40px;
  background-color: #DEE6EA;
  border-radius: 5px;
}

.show-note .title, .show-note .content {
  display: block;
}

.show-note .title {
  padding-top: 8px;
}
.show-note img {
  display: inline-block;
  margin-right: 5px;
  float: left;
  width:70px;
  height:70px;
  margin-right: 6%;
  margin-bottom: 6%;
}




 @import 'bootstrap-datetimepicker';
 
 .login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
    display: none;

}

.modal {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 850px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form1 input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

// #searchWrapper{
//   width: 150%;
//   margin: 0 auto !important;
// }

// aaaacc